[submodule "util-ws/src/elikos_util"]
	path = util-ws/src/elikos_util
	url = https://github.com/elikos/elikos_util.git
[submodule "driver-ws/src/mavros"]
	path = driver-ws/src/mavros
	url = https://github.com/elikos/mavros.git
[submodule "driver-ws/src/mavros"]
	branch = indigo-devel
[submodule "elikos-ws/src/elikos_ros"]
	path = elikos-ws/src/elikos_ros
	url = https://github.com/elikos/elikos_ros.git
[submodule "driver-ws/src/imu_vn_100"]
	path = driver-ws/src/imu_vn_100
	url = https://github.com/elikos/imu_vn_100.git
